/* Media queries */
@media (max-width: 480px) {
    /* Menú del navbar como menú desplegable u oculto */
}

@media (min-width: 481px) and (max-width: 768px) {
    /* Menú en el lateral */
}
header {
    z-index: 100;
    display: flex;
}

ul{
    list-style: none;
    margin: 0;
  padding: 0;
}

li{
float: left;    
padding: 20px;

}
a {
    text-decoration:none;
    color: green;
}
img {
    height: 25px;
    width: 100px;

}
.idioma{
    background-color:brown ;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 500px;
}
.main-content{
    width: 100%;
    height: 400px;
    font-size: 16px;
    min-height: 40.62em;
    color: aliceblue;
    background-image: url("../img/planet-skin-sevilla-p.jpg");
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
    
} 
.container{
    margin: 0 auto;
    margin-bottom: 6.25em; 
    
}
.boton{
    background-color: brown;
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: black;
    margin-top: 0.4em;
    margin-right: 1.25;
    cursor:pointer;
    transition: .3s ease all;
    font-size:1.12em;

}